.foot-inp {
  width: 230px;
  height: 46px;
  background: #eff3f4;
  border-radius: 31px;
  border: none;
  outline: none;
}

.foot-img {
  position: absolute;
  left: 11px;
  top: 11px;
}

.text-foot {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.box-foot {
  width: 226px;
  height: 180px;
  background: #f7f9f9;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.box-foot-2 {
  width: 226px;
  height: 240px;
  background: #f7f9f9;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.misha-name {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  margin: 0;
}

.misha-spn {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  opacity: 0.6;
}

.text-foot-tred {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.text-spn {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #393b41;
  opacity: 0.6;
}

.text-spn-2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.text-4 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #393b41;
  opacity: 0.6;
}

.link- {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #1da1f2;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}
